%Georgia {
    font-family: "Georgia";
    font-weight: 400;
}

%GoudyTrajan-Regular {
    font-family: "GoudyTrajan-Regular";
    font-weight: 500;
}

%GoudyTrajan-Medium {
    font-family: "GoudyTrajan-Medium";
    font-weight: 700;
}

%Montserat-Redular {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

%Montserat-Semi-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

%Montserat-Bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
