@import "fonts";
@import "vars";
@import "global";
.section-top {
    background-image: url("../images/header-bg.jpg");
    background-size: cover;
    min-height: 708px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
    }
}

.header {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    &__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 380px;
    }
    &__contacts-phone {
        @extend %Georgia;
        font-size: 24px;
        line-height: 27px;
        color: #fff;
    }
    &__menu-burger {
        position: relative;
        width: 30px;
        height: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
        cursor: pointer;
    }
    &__menu-burger span,
    &__menu-burger::after,
    &__menu-burger::before {
        height: 6px;
        width: 100%;
        background: #fff;
        margin: 0 auto;
    }
    &__menu-burger::after,
    &__menu-burger::before {
        content: "";
    }
}

.main-title {
    font-size: 36px;
    line-height: 54px;
    color: #fff;
    max-width: 800px;
    text-transform: uppercase;
    @extend %GoudyTrajan-Regular;
    margin-top: 84px;
    &>span {
        @extend %GoudyTrajan-Medium;
        color: #fbd587;
    }
}

.section-top-btn-box {
    margin-top: 80px;
}

.btn-accent,
.btn-additional {
    width: 347px;
    height: 81px;
    border-radius: 70px;
    text-decoration: none;
    color: #000;
    display: inline-block;
    border-radius: 70px;
    padding: 30px 90px 30px 43px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.btn-accent {
    background: linear-gradient(180deg, #fde6b4 0%, #ffc858 99.99%, #fbd587 100%, #ffae1c 100%);
    box-shadow: 4px 4px 20px 5px rgba(255, 174, 28, 0.4), 3px 3px 0 0 #fab223;
    position: relative;
    &:hover {
        background: linear-gradient(180deg, #ffd67d 0%, #ffa603 99.99%, #fbd587 100%, #c69d52 100%);
    }
}

.btn-additional {
    padding: 30px 115px 30px 69px;
    margin-left: 30px;
    background: linear-gradient(180deg, #03d7f7 0%, #00a0c4 100%);
    box-shadow: 4px 4px 20px 5px #007b96, 3px 3px 0 0 #007c97;
    &:hover {
        background: linear-gradient(180deg, #6decff 0%, #2e9eb8 100%);
    }
}

.characteristics__list {
    display: flex;
    justify-content: space-between;
}

.characteristics__item {
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    @extend %Montserat-Redular;
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(73, 73, 73, 0.75);
    border-radius: 250px;
    min-width: 350px;
    min-height: 80px;
    align-items: center;
    overflow: hidden;
    margin-top: 105px;
    &-text {
        max-width: 120px;
        text-align: center;
        margin-top: 20px;
        margin-right: 38px;
        margin-left: auto;
    }
    &-img {
        max-width: 150px;
        border-radius: 250px 250px 0px 250px;
        position: absolute;
    }
    &-text span {
        @extend %Montserat-Bold;
    }
}

.characteristics__item:nth-child(2) {
    .characteristics__item-img {
        max-width: 137px;
    }
}

.section-project {
    margin-top: 100px;
    margin-bottom: 100px;
}

.page__section {
    // &-title {
    //     @extend %GoudyTrajan-Medium;
    //     font-size: 36px;
    //     line-height: 39px;
    //     text-transform: uppercase;
    // }
    &-text {
        margin: 40px 0 40px 0;
        max-width: 906px;
    }
}

.slider-box {
    margin-top: 60px;
}

.slider-btn-right,
.slider-btn-left {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: -70px;
    top: 50%;
    height: 84px;
    width: 50px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        transform: scale(1.2, 1.2);
    }
}

.slider-btn-left {
    position: absolute;
    left: -70px;
    top: 50%;
    background-image: url("../images/arrow-left.svg");
}

.slider-btn-right {
    background-image: url("../images/arrow-right.svg");
}

.slick-dots {
    // padding: 0;
    // margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
    &::after {
        content: "";
        position: absolute;
        bottom: -48px;
        margin-left: auto;
        margin-right: auto;
        border: 3px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 646px;
    }
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    margin: 0 50px;
}

.slick-dots li button:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
}

.slick-dots li[class="slick-active"] button {
    background: linear-gradient(180deg, #03d7f7 0%, #00a0c4 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 60px;
    height: 11px;
    bottom: -59px;
    position: relative;
    z-index: 2;
}

.section-benefits {
    background-color: #002137;
    padding-top: 100px;
    padding-bottom: 150px;
}

.page__section-title {
    color: #fff;
    max-width: 850px;
    // margin-bottom: 60px;
}

.page__section-title.accent {
    color: #000;
    // width: 850px;
    // margin-top: 100px;
}

.benefits__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}

.benefits__item {
    &-img {
        box-shadow: 0px 0px 40px 5px rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        &:hover {
            box-shadow: 0px 0px 40px 5px rgba(255, 255, 255, 0.5);
        }
    }
    &-text {
        text-align: center;
        color: #fff;
        margin-bottom: 30px;
    }
}

.section-apartments {
    background-color: #ccd3d7;
    min-height: 1475px;
    position: relative;
    padding-top: 100px;
}

.apartments {
    display: grid;
    max-width: 1110px;
    grid-template-columns: 256px 1fr;
    grid-template-rows: 567px 1fr;
    grid-column-gap: 30px;
}

.apartmens__filter {
    background: #002137;
    border-radius: 10px;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding: 43px;
    &-title {
        font-size: 24px;
        @extend %Montserat-Redular;
        line-height: 29px;
        margin-bottom: 25px;
    }
}

.apartmens__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(auto, 496px);
    grid-gap: 30px;
    &-item {
        font-size: 14px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.5);
        width: 255px;
        height: 496px;
        background: #ffffff;
        border: 1px solid rgba(196, 196, 196, 0.25);
        border-radius: 10px;
        padding: 30px 35px 50px 35px;
        span {
            color: #000;
        }
        &-img {
            margin-top: 33px;
        }
        &-description {
            p {
                font-size: 12px;
                line-height: 15px;
                color: rgba(0, 0, 0, 0.5);
                margin-top: 25px;
                margin-bottom: 5px;
            }
        }
    }
    &-btn {
        border: 1px solid red;
        position: absolute;
        bottom: 75px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 14px;
        line-height: 17px;
        background-color: transparent;
        cursor: pointer;
        border: 1px solid #000000;
        padding: 27px 93px;
        @extend %Montserat-Semi-bold;
        &:hover {
            border: 1px solid #fff;
            background-color: #fff;
        }
    }
}

.input-slider {
    max-width: 69px;
    background-color: transparent;
    padding: 5px 20px 5px 20px;
    // margin: 0;
    outline: none;
    border: 1px solid #c4c4c4;
    border-bottom: none;
    // border: 1px solid #C4C4C4;
    color: #fff;
    // font-size: 14px;
    // line-height: 17px;
    text-align: center;
}

.inpute-wrapper {
    max-width: 140px;
    // margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
}

.inpute-title {
    width: 73px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 30px;
}

.noUi-handle {
    background: url("../images/slider-handle.png");
    height: 16px;
    width: 8px;
    border: none;
    border-radius: none;
    box-shadow: none;
    &::after,
    &::before {
        display: none;
    }
}

.noUi-horizontal .noUi-handle {
    width: 8px;
    height: 16px;
    right: -5px;
    top: -6px;
}

.noUi-base {
    background: #fff;
    height: 3px;
    width: 139px;
}

// .noUi-target{
//     height: 2px;
//     // borde    r: 1px solid red;
// }
.noUi-target {
    background: none;
    border-radius: none;
    border: none;
    box-shadow: none;
    width: 140px;
}

.noUi-connects {
    height: 4px;
}

.noUi-connect {
    // height: 2px;
    background: #ffae1c;
}

// .noUi-origin{
// }
.section-advantages {
    background-color: #002137;
    color: #fff;
    padding-top: 100px;
    &-img {
        max-width: 566px;
    }
    &-text {
        display: block;
    }
}

.section-advantages>.container>.page__section-title {
    margin-bottom: 60px;
}

.advantages__item:nth-child(odd) .advantages__item-img {
    float: left;
    margin-right: 60px;
}

.advantages__item:nth-child(even) .advantages__item-img {
    float: right;
    margin-left: 60px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}